body {

  direction: ltr;

  .p-dropdown-clear-icon {
    right: 3rem;
    left: auto;
  }

  app-topbar {
    .layout-topbar {
      .layout-topbar-logo {
        img {
          margin-right: 0.5rem;
        }
      }

      .layout-menu-button {
        margin-left: 2rem;
      }

      .layout-topbar-menu {
        margin: 0 0 0 auto;

        .layout-topbar-button {
          margin-left: 1rem;
        }
      }
    }
  }

  .layout-sidebar {
    left: 2rem;

    app-menu {
      .layout-menu-container {
        .layout-menu {
          .layout-menuitem-category {
            ul {
              li {
                a {
                  span {
                    margin-left: 0.5rem;

                    &.p-tag {
                      margin-left: auto;
                    }
                  }

                  .menuitem-toggle-icon {
                    margin-left: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .layout-main-container {
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;

    @media (min-width: 992px) {
      margin-left: 300px;
    }
  }

  app-config {
    .layout-config {
      transform: translateX(100%);
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      &.layout-config-active {
        transform: translateX(0);
      }
    }
  }
}